body{
    background-color: aquamarine;
    color: yellowgreen;
}

.hea{
    display: flex;
    justify-content: center;
}

.contenedor{
    background-color: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}